@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    /* FONTS */
    --ff-main: 'Manrope';
    --fw-mid: 500;
    --fw-bold: 700;
    --ff-size: 0.813rem;
    /* COLORS */
    --clr-VerydarkGrayishBlue: hsl(217, 19%, 35%);
    --clr-DesaturatedDarkBlue: hsl(214, 17%, 51%);
    --clr-GrayishBlue: hsl(212, 23%, 69%);
    --clr-LightGrayishblue: hsl(210, 46%, 95%);
}
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  

  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

html {
    height: 100%;
    background-color: var(--clr-LightGrayishblue) ;
}
body {
    height: 100%;
    display: grid;
    place-content: center;
}
main {
    margin: 1.5rem;
    font-size: var(--ff-size);
    font-family: var(--ff-main);
    max-width: 340px;
    box-shadow: 0px 2px 8px rgba(54, 54, 124, 0.233);
    border-radius: .7rem;
}
.title {
    font-weight: var(--fw-bold);
    color: var(--clr-VerydarkGrayishBlue);
}
.card__article-main {
    font-size: 1rem;
    margin-bottom: 1rem;
}
.card__article-description {
    font-size: 0.9rem;
    word-spacing: 1px;
}
.social-media__mame {
    font-size: 0.8rem;
    letter-spacing: .5px;
}
.muted {
   color: var(--clr-DesaturatedDarkBlue);
   font-weight: var(--fw-mid);
}
.social-media__date {
    color: var(--clr-GrayishBlue);
}
.drawers__image {
   height: 210px;
   overflow: hidden;
   border-top-left-radius: .7rem;
   border-top-right-radius: .7rem;
}
.card__text {
    background-color: white;
    padding: 2rem;
}
.card__social-media {
    background-color: white;
    padding: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0;
    border-bottom-left-radius: .7rem;
    border-bottom-right-radius: .7rem;
}
.social-media__main-flex {
    display: flex;
    justify-content: space-between;
}
.social-media__left-flex {
    display: flex;
    gap: 1rem;
}
.social-media__avatar {
    width: 40px;
    border-radius: 50%;
}
.social-media__share-button {
    width: 40px;
    display: grid;
    place-content: center;
    border-radius: 50%;
    border: transparent;
    background-color: var(--clr-LightGrayishblue);
}