@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    /* FONTS */
    --ff-main: 'Manrope';
    --fw-mid: 500;
    --fw-bold: 700;
    --ff-size: 0.813rem;
    /* COLORS */
    --clr-VerydarkGrayishBlue: hsl(217, 19%, 35%);
    --clr-DesaturatedDarkBlue: hsl(214, 17%, 51%);
    --clr-GrayishBlue: hsl(212, 23%, 69%);
    --clr-LightGrayishblue: hsl(210, 46%, 95%);
}
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

html {
    height: 100%;
}